<div *ngIf="wishes.length === 0; else showItems">No wishes</div>
<ng-template #showItems>
  <ul class="wish-list">
    <li *ngFor="let item of wishes; index as ii">
      <div class="form-check">
        <label class="form-check-label">
          <input
            [checked]="item.isComplete"
            [attr.data-index]="ii"
            class="checkbox"
            type="checkbox"
            (click)="toggleItem(item)"
          />
          {{ item.wishText }}
        </label>
      </div>
    </li>
  </ul>
</ng-template>
